In [32]:
import pandas as pd
import numpy as np
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio
import plotly.figure_factory as ff
import plotly.offline as pyo

In [33]:
# read both excel files
df1 = pd.read_excel('Origin-Destination Guide DFM.xlsx')
#df2 = pd.read_excel('cwyh.xlsx')

# Check column names in df1
print(df1.columns)

# Check column names in df2
#print(df2.columns)

Index(['Facility T-Loc', 'Faciliy -Loc', 'Cleanup', 'Alternate ID(s)'], dtype='object')

In [34]:
# Perform the join
#df3 = df1.join(df2)

In [35]:
df.head()

,Unnamed: 0,3-digit Zip,Market Area ID,Market Area Name,Reference City,Reference State/Prov.,Region,Assume Zip for KMA
0,NaN,005,NY_BRN,Brooklyn Mkt,Brooklyn,NY,Northeast,11747
1,NaN,010,MA_SPR,Springfield Mkt,Springfield,MA,Northeast,01373
2,NaN,011,MA_SPR,Springfield Mkt,Springfield,MA,Northeast,01373
3,NaN,012,MA_SPR,Springfield Mkt,Springfield,MA,Northeast,01373
4,NaN,013,MA_SPR,Springfield Mkt,Springfield,MA,Northeast,01373

In [37]:
# read excel file
df = pd.read_excel('KMA.xlsx')
#cwyh = pd.read_excel('cwyh.xlsx')
#col_var = cwyh['zip']

# function to return value from column C based on value in column B
def get_value_from_column_c(col_var):
    matching_row = df[df['3-digit Zip'] == col_var] # assuming '3-digit Zip' is the column name
    if len(matching_row) > 0:
        return matching_row['Market Area ID'].values[0] # again assuming 'Market Area ID' is the column name
    else:
        return None

# testing
print(get_value_from_column_c('907'))

None

In [ ]:
#print(get_value_from_column_c(,431,730,604,130,109,795,331,770,926,178,072,373,952,313,314'))
print(get_value_from_column_c('917'),
print(get_value_from_column_c('071'),
print(get_value_from_column_c('907'),
print(get_value_from_column_c('151'),
print(get_value_from_column_c('834'),
print(get_value_from_column_c('241'),
print(get_value_from_column_c('856'),
print(get_value_from_column_c('923'),
print(get_value_from_column_c('370'),
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c
#print(get_value_from_column_c('953')